<p>If you have any questions, please visit our <a href="<%= Rails.application.config.home_url %>/faqs" style='color:#FF6136;text-decoration:none;'>FAQ Page</a> or contact us anytime at <a href="mailto:<%= Rails.application.config.admin_email %>" style='color:#FF6136;text-decoration:none;'><%= Rails.application.config.admin_email %></a>.</p>
<p>Welcome aboard,
<br>The Homeaogora Team</p>
