<table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-cell" align="center">
      <p class="sub align-center">&copy; <%= Time.now.year %> Homeoagora. All rights reserved.</p>
      <p class="sub align-center">
        <br>Rosario Street, N# 16
        <br>Madrid CP 28005
        <br>Tel & Fax: +34 (650) 888 999.
        <br>Email: <%= Rails.application.config.admin_email %>
      </p>
      <div>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
      </div>
    </td>
  </tr>
</table>