<!-- Header -->
<header id="header" class="header">
	<div class="header-wrap">
		<div class="container">
			<div class="row">
        <nav id="mainnav-mobi" class="mainnav-mobi">
          <ul class="menu">
            <li class="added menu-addon">
              <span class="signup-link">
                <a href="login.html">Become a member</a>
              </span>
              <span class="login-link">
                <a href="login.html">Login</a>
              </span>
            </li>
            <li class="has-children"><a class="active" href="index.html">Home</a>
              <span class="btn-submenu"></span>
							<ul class="sub-menu">
								<li><a href="#">Home with Banner</a></li>
								<li><a href="index-custom.html">Home Customized</a></li>
								<li class="has-children"><a href="#">Third Level Item</a>
                  <span class="btn-submenu"></span>
									<ul class="sub-menu">
										<li><a href="#">Sublevel 1</a></li>
										<li><a href="#">Sublevel 2</a></li>
										<li><a href="#">Sublevel 3</a></li>
										<li><a href="#">Sublevel 4</a></li>
										<li><a href="#">Sublevel 5</a></li>
									</ul><!-- /.submenu -->
								</li>
							</ul><!-- /.submenu -->
						</li>
						<li class="has-children"><a href="#">Pages</a>
              <span class="btn-submenu"></span>
							<ul class="sub-menu">
								<li><a href="article-endless.html">Articles</a></li>
								<li><a href="article-detail.html">Articles Detail</a></li>
								<li><a href="category-hide-navigation.html">Category Page</a></li>
								<li><a href="contact.html">Contact Page</a></li>
								<li><a href="about.html">About Page</a></li>
								<li><a href="login.html">Login Page</a></li>
								<li><a href="404.html">404 Page</a></li>
							</ul><!-- /.submenu -->
						</li>
						<li class="gn-mega-menu"><a href="category.html">Mega-Menu</a>
              <span class="btn-submenu"></span>
							<div class="sub-menu">
								<div class="container">
								<div class="row">
								<div class="col-md-12">
									<div class="mega-item-wrap">
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">Usability Testing for Mobile Is Easy</a></h5>
										</div>
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">Infinite Scrolling Is Not for Every Website</a></h5>
										</div>
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">Infinite Scrolling Is Not for Every Website</a></h5>
										</div>
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">Ecommerce UX: 3 Design Trends to Follow and 3 to Avoid</a></h5>
										</div>
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">University Websites: Top 10 Design Guidelines</a></h5>
										</div>
										<div class="mega-item">
											<img src="images/thumbs/11.jpg" alt="image">	
											<h5><a href="#">University Websites: Top 10 Design Guidelines</a></h5>
										</div>
									</div>
									<div class="nav-mega-item">
										In this category:
										<a href="#">All</a>
										<a href="#">Tech</a>
										<a href="#">Apps</a>
										<a href="#">Dev&amp;Design</a>
										<a href="#">Dev&amp;Design</a>
										<a href="#">Gadget</a>
										<a href="#">Mobile</a>
									</div>
								</div>
								</div>
								</div>
							</div><!-- /.submenu -->
						</li>
						<li class="has-children"><a href="category.html">Category</a>
              <span class="btn-submenu"></span>
							<ul class="sub-menu">
								<li><a href="category.html">Normal</a></li>
								<li><a href="category-hide-navigation.html">Hide Navigation</a></li>
							</ul><!-- /.submenu -->
						</li>
						<li><a href="ui-elements.html">UI-Elements</a></li>
            <li class="added">
              <div id="search-form-menu">
                <form action="#" method="get">
                  <input type="text" class="search-text-menu" id="search-text-menu">
                </form>
              </div>
              <div class="social-mobi">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </li>
          </ul>
        </nav>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.header-wrap -->
</header>		