/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@font-face {
    font-family: 'UVFFunkydori';
    src: url('uvf-funkydori.ttf') format('truetype');
}

.brand {
    font-family: 'UVFFunkydori';
    font-size: 48px;
	color: white;
}

.statistic-doctors {
	height: 100px;
	padding: 35px 20px 50px;
	background-color: #4747B3;
	color: white;
	font-size: 48px;
    border-radius: 25px;
}

.statistic-patients {
	height: 100px;
	padding: 35px 20px 50px;
	background-color: #33AF7A;
	color: white;
	font-size: 48px;
    border-radius: 25px;
}